<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{../css/styles.css}">
</head>
<body>
<form action="/expense/create" method="post">
    <div class="form-group">
        <label for="value">Valoooor</label>
        <input type="number" id="value" name="value" required>
    </div>

    <div class="form-group">
        <label for="additionalDetail">Detalles adicionales</label>
        <textarea id="additionalDetail" name="additionalDetail"></textarea>
    </div>
    </div>

    <div class="form-group">
        <label for="recipientDocument">Número de documento específico (a quien va dirigida la salida)</label>
            <input type="text" id="personID" name="personID" required>


    </div>

    <div class="form-group">
        <label for="date">Fecha</label>
        <input type="datetime-local" id="date" name="date" required>
    </div>

    <div class="form-group">
        <label for="paymentMethod">Método de pago</label>
        <select id="paymentMethod" name="paymentMet" required>
            <option value="1">Tarjeta de Crédito</option>
            <option value="2">Efectivo</option>
            <!-- Otros métodos de pago -->
        </select>
    </div>

    <div class="form-group">
        <label for="paymentType">Tipo de pago</label>
        <select id="paymentType" name="paymentTyp" required>
            <option value="1">Contado</option>
            <option value="2">Crédito</option>
            <!-- Otros tipos de pago -->
        </select>
    </div>

    <div class="form-group">
        <label for="expenseConceptCode">Código del concepto de egreso</label>
                <input type="number" id="expenseConceptCode" name="expenseConcept.code" required>
            <!-- Otros conceptos -->
        </select>
    </div>

    <button type="submit">Registrar Gasto</button>
</form>

<script>
    document.getElementById('expenseForm').onsubmit = function(event) {
        event.preventDefault(); 

        const form = event.target;
        const formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                alert('Salida registrada con éxito');
                window.location.href = '/dashboard'; 
            } else {
                response.text().then(text => alert('Error durante el registro: ' + text));
            }
        })
        .catch(error => console.error('Error:', error));
    };
</script>
</body>
</html>