<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Manager dashboard</title>
    <link rel="stylesheet" th:href="@{./css/styles.css}">
</head>

<body>

    <div>
        <h1>Roles</h1>

        <table class="table">
            <!-- Table Header -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th> </th>
                </tr>
            </thead>
            <!-- Table Body -->
            <tbody>
                <tr th:each="user : ${users}">
                    <td>
                        <form th:action="@{manager/edit-user-role}" method="post" th:object="${user}">
                            <input type="text" name="id" th:value="${user.id}" readonly>
                    </td>
                    <td>
                        <input type="text" name="name" th:value="${user.name}" readonly>
                    </td>
                    <td>
                        <input type="text" name="lastName" th:value="${user.lastName}" readonly>
                    </td>
                    <td>
                        <select name="role.name">
                            <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}"
                                th:selected="${role.name} == ${user.role.name}"></option>
                        </select>
                    </td>
                    <td>
                        <button type="submit">Update user role</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <a th:href="@{/manager/roles}" class="boton">
            <button type="button">Manage roles</button>
        </a>


    </div>
</body>