<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Manager dashboard</title>
    <link rel="stylesheet" th:href="@{../css/styles.css}">
</head>

<body>

    <div>
        <h1>Permissions</h1>

        <table class="table">

            <!-- Table Header -->
            <thead>
                <tr>
                    <th>Role</th>
                    <th th:each="permission: ${permissions}" th:value="${permission.name}" th:text="${permission.name}">
                    </th>
                    <th></th>
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody>

                <tr th:each="role:${roles}">
                    <form th:action="@{/manager/update-roles}" method="post">
                        <td th:value="${role.name}" th:text="${role.name}"> </td>
                        <td th:each="permission: ${permissions}" >
                            <input type="checkbox" th:checked="${#sets.contains(rolePermissionSet,role.name+'-'+permission.name)}" th:name="${permission.name}">
                            <p th:text="${permission.name}"> </p>
                        </td>
                        <input type="text" th:name="roleName" th:value="${role.name}"hidden><input/>
                        <td><button type="submit"> Save </button></td>

                    </form>
                </tr>


            </tbody>


        </table>
        <button> Hello</button>
    </div>
</body>